[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
tiktoken = "*"
faiss-cpu = "*"
unstructured = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"

[scripts]
start = "python app/main.py"
